- content_for :title, "Advertising and Agency work"
- @body_id = "playpress"
- @body_class = "cream"

.row
  .main-content
    = render "shared/blog_intro", :title => "Advertising & agency", :content => "I began working in digital design and advertising soon after finishing my degree. I worked at several big agencies (Including Syzygy and VML London) across massive brands. It was here I learned my development skills and the value of rapid prototyping."

    = render "shared/blog_section", :title => "Syzygy", :content => "I started as a junior designer in <a href='https://www.syzygy.net/global/en' target='_blank'>Syzygy</a>, working mainly with Mazda and Mercedes as clients. I worked on the digital campaigns for major car launches, and worked closely with excellent creative developers.\n\nI caught the programming bug, and started experimenting with creating games in Actionscript 3. I quickly progressed to a role as a creative technologist, where I was working on both design and development, in-between the creative teams and the technical teams.", :id => "syzygy"

    = render "shared/gallery", :img => "agency-honda.jpg", :cap => "We worked with a developing technology team for Honda to produce concepts for in showroom, interactive displays for browsing their product line up in new ways."

    = render "shared/blog_section", :title => "VML London", :content => "When I joined <a href='https://www.vml.com/united-kingdom/' target='_blank'>VML</a> (Good Technology), I was part of a small team as a 'Hypermedia designer'. The team's role was, essentially, to provide inspiration and advice to the technical and creative teams to make their ideas better.\n\nWe sat directly between the two, creating prototypes, interaction designs, animations, and sometimes full products for clients like Audi and Microsoft.", :id => "vml"

    = render "shared/gallery", :img => "agency-a4.jpg", :cap => "I worked on the design, development and animation for the launch of Audi's A4. The Flash based site included a dynamic 360° rendering."

    = render "shared/gallery", :img => "agency-london.jpg", :cap => "Before the London Olympics, I worked closely with the teams on several initiatives, including a pre-release site to get people excited about events they may not have heard of before."

    = render "shared/blog_section", :title => "Southpaw", :content => "At <a href='http://southpawagency.com' target='_blank'>Southpaw</a> (Nexus|H) I was brought on as the beginning point of an in house digital team. In my role as Interactive art director, I was responsible for the digital output of the company.\n\nI lead a team of 4 which spanned both design and technical roles. We worked on everything from full ad campaigns, to expansive pitches for Honda, to full site design projects for Suzuki.", :id => "southpaw"

    = render "shared/gallery", :img => "agency-network.jpg", :cap => "While working with Haymarket, I designed new sites for them to better show off the depth of their work."

    = render "shared/gallery", :img => "agency-haymarket.jpg", :cap => "I also worked with a team on the main corporate website, which focuses on investors and hiring new team members."

    = render "shared/blog_section", :title => "Haymarket Network", :content => "<a href='http://www.haymarketnetwork.com' target='_blank'>Haymarket Network</a> is the internal digital and content studio for Haymarket publishing and works on internal and external clients. I was brought on to lead design for high profile projects for the IAAF, the London Olympic Ceremonies and The Rugby World Cup. Managing a small team, we produced high quality visual design work with a focus on innovation.", :id => "haymarket"

    = render "shared/gallery", :img => "agency-iaaf.jpg", :cap => "We worked with the IAAF to produce a new site. They have huge amounts of data and are the world authority on accuracy and their athletes."

    = render "shared/gallery", :img => "agency-authonomy.jpg", :cap => "At Haymarket I worked on a number of pitches, including for Harper Collins. Authonomy is a user-published platform to kickstart new books - I worked on re-thinking the user experience and ui design to produce a site that encourages useful and meaningful interactions with the books to create a stronger and more caring community."

  .side-content.fixed
    = render "shared/blog_meta", :date => "2013-2017", :role => "Designer"
    = render "shared/blog_navigation", :anchors => [{title: "Syzygy", link: "#syzygy"}, {title: "VML London", link: "#vml"}, {title: "Southpaw", link: "#southpaw"}, {title: "Haymarket Network", link: "#haymarket"}]
    