- content_for :title, "Design sprints - rapid, tested co-creation"
- @body_id = "design-sprints"
- @body_class = "pink"

.row
  .main-content
    = render "shared/blog_intro", :title => "Design Sprints", :content => "I have planned, run, and facilitated many design sprints with groups of all ability levels. When faced with a defined problem and many different solutions, design sprints can be fastest way of getting to a well thought through solution that has been tested with real people."
      
    = render "shared/gallery", :img => "design-sprint-1.jpg", :cap => ""

    = render "shared/blog_section", :title => "Planning", :content => "A great deal of research has gone into the design sprints I have run. When working at M&S, we ran several sprints, one with our Basket and Checkout team.\n\nTo prepare for the week, we spent a week before doing a thorough competitor and heuristic analysis, with an emphasis on future trends.", :id => "planning"

    = render "shared/blog_section", :title => "Challenging the team", :content => "I worked with the content and editorial team on a sprint focused around content discovery. The team was made up of everyone from junior picture editors to the directors.\n\nIt's important in a sprint to make sure everyone's voice is heard and heard equally, and we managed to facilitate a very diverse team by challenging their relationships with each other. Tasks were designed to enable people to draw on their experience whilst also being challenged by possibilities they hadn't even considered.", :id => "teams"

    = render "shared/blog_section", :title => "Exploring possibilities", :content => "The key value in my opinion in a design sprint is the vast potential for idea generation and exploration, to the point of exhaustion. With the basket and checkout team, in a 4 hour session we created hundreds of potential solutions when the consesnus at the start was choosing between two. By opening up the possibilities to include the fantastical, we ended up expanding the possible.", :id => "possibilities"

    = render "shared/gallery", :img => "design-sprint-2.jpg", :cap => "In terms of volume of ideas, design sprints tend to bring out the best in people."

    = render "shared/blog_section", :title => "Research", :content => "The whole point of running design sprints is to get closer to user groups. In every instance of running a sprint, our users are recruited well in advance in order to answer some relevant behavioural questions.\n\nBy starting the week having the team focus on the real people they are designing for, we made sure that everything was designed with a real use case and purpose.", :id => "research"

    = render "shared/blog_section", :title => "Rapid, high fidelity prototyping", :content => "Sprints work best with teams of varied experience and from many discliplines. I have always encouraged people to prototype in ways they see fit, but also ensuring there is a good mixture of technical people in the room. In previous sprints, peeople have created everything from dramatic, video-based prototypes to fully working and integrated applications.", :id => "prototyping"

    = render "shared/blog_section", :title => "Getting in front of users", :content => "The content team at M&S only had a vague, persona led grasp on their true audience, so having real users in front of them testing their own ideas was very important.\n\nBy having the same 5 users at the end as were introduced at the start of the week, the team could see how their preconceptions matched to reality. Seeing work go from idea to live, interactive test in under a week was genuinely shocking for some.", :id => "users"

    = render "shared/gallery", :img => "design-sprint-3.jpg", :cap => "A wide mixture of disciplines and people attending and taking part in the user interview sessions."

    = render "shared/blog_section", :title => "Outcomes", :content => "The danger with a sprint is the lack of momentum carried forward. With the basket and checkout team at M&S, we made sure to spend lots of time analyising what we had learned, what was potentially actionable, and what could go straight into a backlog. While only small parts of the prototypes made it into a production environment, the design sprint completely re-ordered their priorities and re-endergised the team.", :id => "outcomes"

  .side-content.fixed
    = render "shared/blog_navigation", :anchors => [{title: "Planning", link: "#planning"}, {title: "The App", link: "#teams"}, {title: "Ideas", link: "#possibilities"}, {title: "Research", link: "#research"}, {title: "Prototypes", link: "#prototyping"}, {title: "Users", link: "#users"}, {title: "Outcomes", link: "#outcomes"}]
    