- content_for :title, "Front-end development experience"
- @body_id = "front-end"
- @body_class = "pink"

.row
  .main-content
    = render "shared/blog_intro", :title => "Front-end development", :content => "Alongside design, I have have extensive experience in front-end development. I focus mainly on creative prototyping as design, making high fidelty, data-driven prototypes for rapid testing and iteration. I code in HTML, CSS (Sass), and Javascript, including frameworks like React, React Native, Angular, JQuery and Polymer."
      
    = render "shared/gallery", :img => "circles-main.png", :cap => ""

    = render "shared/blog_section", :title => "Prototyping", :content => "Most of my design time is spent prototyping. Having a usable, testable version of an idea helps me get to a beter solution faster.\n\nI write prototypes in many ways. At M&S, I used Google Polymer to create a design-driven, component led framework for creating <a href='https://medium.com/@utopastac/designing-a-style-guide-prototyping-toolkit-with-google-polymer-f898f73a2e0' target='_blank'>prototypes</a> for a system of apps (You can see the style guide itself <a href='http://digistores-prototypes.mslabs.io/elements-guide/index.html#/home' target='_blank'>here</a>).\n\nI tend to create all my prototypes in HTML and Javasript. I find the data driven flexibility extremely useful in both early and late stage product development.", :id => "prototyping"

    = render "shared/blog_section", :title => "Production", :content => "Alongside prototyping, I also sometimes take my front-end work into production. At M&S, I worked with the mobile website team on a rapid project to replace the mobile site. We worked in an agile fashion, releasing early and often, adding features as soon as they were shippable.\n\nAt Circles, I lead the front end work for our websites and landing pages (static sites built using Hugo as our templating engine). I also built the first versions of the interface for the app. We created the first end-to-end flow in under 4 weeks using React Native and Redux.", :id => "production"

  .side-content.fixed
    = render "shared/blog_navigation", :anchors => [{title: "Prototyping", link: "#prototyping"}, {title: "Production", link: "#production"}]
    