- content_for :title, "Google - design in a huge, global tech company"
- @body_id = "circles"
- @body_class = "cream"

.row
  .main-content
    .row
  .main-content
    = render "shared/blog_intro", :title => "Google", :content => "In my time at Google, I worked across 3 different teams on countless projects. As a lead interaction designer, I was responsible for delivering strategy and product design that had a real effect on our metrics. I ran lots of creative working sessions, and mentored many less senior designers."
      
    = render "shared/gallery", :img => "google-map.jpg", :cap => ""

    = render "shared/blog_section", :title => "Geo merchant retention", :content => "", :id => "retention"

    = render "shared/blog_section", :title => "Maps shopping", :content => "", :id => "shopping"

    = render "shared/blog_section", :title => "Google Fit", :content => "", :id => "google-fit"

    = render "shared/blog_section", :title => "Wear OS", :content => "", :id => "wear-os"

    = render "shared/quotes", :quotes => ["marks-main", "Woog that's a quote"]

    = render "shared/gallery", :img => "marks-cook-app.jpg", :cap => "..."

  .side-content.fixed
    = render "shared/blog_meta", :date => "2019 - now", :role => "Associate principal product designer"
    = render "shared/blog_navigation", :anchors => [{title: "Geo merchant retention", link: "#retention"}, {title: "Maps shopping", link: "#shopping"}, {title: "Google Fit", link: "#google-fit"}, {title: "Wear OS", link: "#wear-os"}]
    