- content_for :title, "Google - design in a huge, global tech company"
- @body_id = "circles"
- @body_class = "cream"

.row
  .main-content
    .row
  .main-content
    = render "shared/blog_intro", :title => "Google", :content => "In my time at Google, I worked across 3 different teams on countless projects. As a lead interaction designer, I was responsible for delivering strategy and product design that had a real effect on our metrics. I ran lots of creative working sessions, and mentored many less senior designers."
      
    = render "shared/gallery", :img => "google-map.jpg", :cap => ""

    = render "shared/blog_section", :title => "Geo merchant retention", :content => "Within the Geo org, I worked within Google My business - an area to help small businesses manage their presence across Google. Despite what sounds like a small scope, even this has over 250 people. I was brought into the team to focus on merchant retention - how could we create a product for merchants that would make them want to use Google surfaces to advertise? I introduced an extremely experiemental way of working into the team to hugely increase our learning cadence, shipping very regularly to our users. I pushed to produce proxy metrics for retention and to understand what a 'golden path' might be for our merchants.", :id => "retention"

    = render "shared/gallery", :img => "google-retention.jpg", :cap => "We ran as series of experiments designed to find proxy metrics that defined user retention"

    = render "shared/blog_section", :title => "Maps shopping", :content => "I worked within the shopping team to provide surfaces for merhants to explain to customers what they sold in their physical shops. We ran many rounds of foundational research to understnad needs and pain points, and created an ambitious roadmap for future developments. I worked as a strong cross-functional partner in developing strategies and alignment, trusted with highly complex problems.", :id => "shopping"

    = render "shared/blog_section", :title => "Google Fit & Wear OS", :content => "", :id => "google-fit"

    = render "shared/blog_section", :title => "", :content => "", :id => "wear-os"

    = render "shared/quotes", :quotes => ["Peter scopes problems and trouble-shoots solutions faster than any designer I’ve ever worked with - this allows us to produce, test and throw out 10x more options, and arrive at the right way forward.", "Peter is not only an exceptional listener, he also has a unique talent to recognise and find out other people’s talents and encourage them to use it confidently.", "Peter is an exceptionally gifted designer, he has the ability to cut to the heart of problems quickly and crafts delightful experiences to solve them."]

    

  .side-content.fixed
    = render "shared/blog_meta", :date => "2018 - 2019", :role => "Lead interactin designer"
    = render "shared/blog_navigation", :anchors => [{title: "Geo merchant retention", link: "#retention"}, {title: "Maps shopping", link: "#shopping"}, {title: "Google Fit", link: "#google-fit"}, {title: "Wear OS", link: "#wear-os"}]
    