- content_for :title, "Marks and Spencer - innovation within a retail giant"
- @body_id = "circles"
- @body_class = "cream"

.row
  .main-content
    = render "shared/blog_intro", :title => "M&S", :content => "I held many roles over my 3 year period at M&S. From working in a small labs team, to being part of huge business transformation projects, to working on a rapid replacement of the mobile platform, I was able to use all of my skills in research, design and development in a varied atmosphere."
      
    = render "shared/gallery", :img => "marks-main.png", :cap => ""

    = render "shared/blog_section", :title => "M&S Labs", :content => "I joined M&S in the digital labs team, which became the Venture labs team. We started with a remit of demonstrating the value of an agile process within the company via rapid iteration on various products.\n\nWhilst in labs, I was the UX/UI designer in a team of all engineers and a Product owner. We decided what to work on as a team based on solid hypothesis. Our most successful venture, Cook with M&S, was installed over 350,000 times.", :id => "labs"

    = render "shared/gallery", :img => "marks-cook-app.png", :cap => "Cook with M&S, an iOS, Android, and web app, has been installed over 350,000 times. We designed the app to help strenthen our position with the homemade food market."

    = render "shared/blog_section", :title => "Try Tuesday", :content => "Tuesday was the last project I worked on with the venture lab. We wanted to test whether a stylist guided experience would lead to higher sales anf lower returns within our target msrket.\n\nI carried out lots of market and behavioural research before designing the chat based interface. We took Tuesday from our MVP of an over-the-phone service into a smart and elegant data-driven product.\n\n<a href='www.trytuesday.com' >Try Tuesday</a>", :id => "tuesday"

    = render "shared/gallery", :img => "marks-tuesday.png", :cap => "Tuesday was built around a conversational interface between the user and a real stylist. This helped build trust in the recomendations."

    = render "shared/blog_section", :title => "Plan A and charity", :content => "I was lucky enough to work closely on a few project with the excellent plan A (Corporate responsibility) team at M&S. We worked together designing and prototyping research heavy projects with Cambridge University around fashion sustainability and reducing cotton to landfill.\n\nI also had the opportunity to work closely with the charity teams and food health teams. I ran workshops and design sprints to help them identify areas of customer need that overlapped with their aims, and helped with prototyping and testing their ideas.", :id => "plan-a"

    = render "shared/blog_section", :title => "Sparks", :content => "Working with IDEO, I was part of the design and implementation team for Sparks, M&S's loyalty scheme. We worked very closely with user groups, testing and iterating through concepts to help customers understand what was an unfamiliar concept.\n\nWorking closely with the development team, I built a rails-based prototype of the end to end flow, and helped set up a strong research base for the project.", :id => "sparks"

    = render "shared/gallery", :img => "marks-sparks.png", :cap => ""

    = render "shared/blog_section", :title => "Digital Stores", :content => "I was given the opportunity to run the design and research for the 'digital stores' team on a vast project to replace all of the in-store, staff facing applications.\n\nI designed and conducted a strong research progamme, invloving many days in store observing colleagues at work.\n\nI created a <a href='https://medium.com/@utopastac/designing-a-style-guide-prototyping-toolkit-with-google-polymer-f898f73a2e0'>Google Polymer</a> based style guide and prototyping system to keep a track of the externally run development process across all of the 40 apps.", :id => "digital-stores"

    = render "shared/gallery", :img => "marks-handbags.png", :cap => "Some of our projects were led by merchandising teams. This was designed to show our handbag range in a different and more premium light."

    = render "shared/blog_section", :title => "Retail Labs", :content => "My last role within M&S was within the 'Retail labs' team, tasked with improving the customer and staff experience in stores using agile rapid iteration techniques. The small team married physical design with interesting tech to prove value as quickly and cheaply as possible.\n\nWe ran design sprints, tested early and often, and presented findings back to appropriate teams of many varied ideas.\n\nWe worked on a lingere fitting room application, where customers could order new sizes and colours off the shop floor to be delivered into the changing room. This involved staff and customer facing applications, as well as smart hardware such as magic mirrors to make things seamless and convenient.\n\nWe also worked with the digital shelf edge label team to help them get some customer benefit from their new hardware.", :id => "retail-labs"

    = render "shared/gallery", :img => "marks-socks.png", :cap => "We experiemented with many business models, not all of which took off. These were early designs for a sock subscription service."

  .side-content.fixed
    = render "shared/blog_meta", :date => "2016-2017", :role => "Lead product designer", :url => "https://www.findcircles.io"
    = render "shared/blog_navigation", :anchors => [{title: "Labs", link: "#labs"}, {title: "Tuesday", link: "#tuesday"}, {title: "Plan A", link: "#plan-a"}, {title: "Sparks", link: "#sparks"}, {title: "Digital stores", link: "#digital-stores"}, {title: "Retail labs", link: "#retail-labs"}]
    