- content_for :title, "Playpress - toys for big imaginations - f-90"
- @body_id = "playpress"
- @body_class = "cream"

.row
  .main-content
    = render "shared/blog_intro", :title => "Playpress", :content => "Playpress is a new construction toy, designed and manufactured in the UK. Made out of recycled cardboard, it is designed as an environmentally friendly, pocket-money price toy, but retaining all the fun of well-known brands like Lego."
      
    = render "shared/gallery", :img => "playpress-1.jpg", :cap => "Our first set"

    = render "shared/blog_section", :title => "Founding Playpress", :content => "Playpress was born of a long development process by Matthew, one of my younger brothers. He was very keen to develop a toy range that could offer the same enjoyment he had when he was younger, but be more affordable - giving children the chance to build whole cities for a small price.\n\nI started helping Matthew refine his designs and attempt to build a market strategy. I helped find manufacturing partners, develop a cohesive illustration style, and advise on the brand direction.", :id => "founding"
    
    = render "shared/gallery", :img => "playpress-4.jpg", :cap => "Sets come fully packaged with instructions"
    = render "shared/gallery", :img => "playpress-5.jpg", :cap => "New sets are always being designed and made"

    = render "shared/blog_section", :title => "The product", :content => "So far there are several sets in active production and being sold. After much experimentation, a good manufacturing partner was found and an excellent material. The toys are currently being sold in independent retailers and also on <a href='https://www.notonthehighstreet.com/partners/playpresstoys/products'>Notonthehighstreet</a>", :id => "product"

    = render "shared/gallery", :img => "playpress-2.jpg", :cap => "Sets are easy to put together"

    = render "shared/blog_section", :title => "The future", :content => "Matthew is now taking the project forward with a close friend. I remain involved to provide advice and product design direction, and to help with the digital aspects of the project.", :id => "future"

    = render "shared/gallery", :img => "playpress-3.jpg", :cap => "The sets are designed in such a way that they can be easily reused"

  .side-content.fixed
    = render "shared/blog_meta", :date => "2013-2017", :role => "Designer", :url => "https://www.playpresstoys.com"
    = render "shared/blog_navigation", :anchors => [{title: "Founding", link: "#founding"}, {title: "Product", link: "#product"}, {title: "Future", link: "#future"}]
    