- content_for :title, "Spotify - music tech"
- @body_id = "circles"
- @body_class = "cream"

.row
  .main-content
    = render "shared/blog_intro", :title => "Spotify", :content => "As an Associate principal product designer in the premium mission, I am responsible for driving design strategy and craft in our focus area. I am through practice to make the output of those I work with better."

    = render "shared/blog_section", :title => "Premium", :content => "I joined Spotify as one of the design leads for the premium mission, defining opportunities and propositions for improving users experience with Spotify Premium. I am leading an initiative to map our user needs, and am a constant advocate for product quality. I am involved in shaping the strategic direction of the team and defining our processes and needs for 2020.", :id => "premium"

    = render "shared/blog_section", :title => "Process", :content => "With other Principal leads, I am currently driving the strategy and cross-functional adoption of a new product design process. I am working to actively improve design team values, processes, and tooling across the Premium mission, and drive a new understanding of cross-functional collaboration.", :id => "process"

    = render "shared/blog_section", :title => "Mentorship", :content => "A large part of my role is to mentor less senior members of the design team across the whole Premium mission. I run regular group working sessions and try to lead by example, and am constantly trying to make my colleagues ideas and behaviours better.", :id => "mentorship"

    = render "shared/quotes", :quotes => [{content: "From day one, nay, scratch that, from DAY ZERO, Peter has brought an absurdly positive spirit and ridiculously healthy gratitudinal vibes to our lil' group of Premium Design humans.", attribution: "Design manager"}, {content: "You are a highly experienced, strategic designer in the Family space. You have more than met my expectations. You are able to zoom in and out of the small scale tweaks, and more importantly, you're able to lead our thinking about the broader user problems that we are trying to solve. This strategic thinking is something we have lacked previously in design partnership, but now that we have it, I honestly don't know what we would do without you.", attribution: "Product lead"}, {content: "Kudos for hitting the ground running and being such a team player from day 1! The passion, ideas, and thoughtfulness you've brought to the design team in your short time at Spotify has been SO APPRECIATED.", attribution: "Content lead"}, {content: "Love your playful, productive, and open style, sending out ideas and proposals and asking for feedback at a high pace. You are very inclusive and encouraging, it's great. And this might be the most smooth experience I have had of working with someone remotely.", attribution: "Engineering manager"}, {content: "I have a thousand things to thank you for, but here are the three most important ones: Thank you for helping me grow by providing constant feedback, advice, and encouragement. Thank you for being so extremely open and transparent, and for involving the whole squad in design work; it makes a huge difference to feel our opinions matter in more than just technical discussions. Thank you for your silliness. It makes the dark, Swedish winter days a little brighter.", attribution: "Engineering lead"}]

    

  .side-content.fixed
    = render "shared/blog_meta", :date => "2019 - 2020", :role => "Associate principal product designer"
    = render "shared/blog_navigation", :anchors => [{title: "Premium", link: "#premium"}, {title: "Process", link: "#process"}, {title: "Mentorship", link: "#mentorship"}]
    
