- content_for :title, "Workshops - designing, running, evaluating"
- @body_id = "workshops"
- @body_class = "pink"

.row
  .main-content
    = render "shared/blog_intro", :title => "Workshops", :content => "I have designed, run, and evaluated countless creative, ideation, and principles based workshops for many teams. Whether to find common ground, break through a tricky problem, or define ways of working, collaborative workshops form the basis of my design process."
      
    = render "shared/blog_section", :title => "Planning", :content => "No two workshops should be the same. Most of the time involved is in design an preparation. I undertake all the necessary research, looking at team dynamics, the nature of the problem we're trying to solve, potential outcomes, and follow up steps.", :id => "planning"

    = render "shared/gallery", :img => "workshop-1.png", :cap => ""

    = render "shared/blog_section", :title => "Analysis", :content => "Without sensible analysis, workshops can feel pointless - a wide generation of thoughts and ideas, but with no direct outcome. An important part of my role is, alongside key stakeholders, analysing the output and forming actionable outcomes to make sure everyone involved feels their input was valuable.\n\nThis can take the form of follow up sessions, short, easily digestible presentations, defined principles to follow, or directly working with the teams to produce something that can be taken to users.", :id => "analysis"

    = render "shared/gallery", :img => "workshop-2.png", :cap => ""

    = render "shared/blog_section", :title => "Creative facilitation at M&S", :content => "At Marks and Spencer, I facilitated many workshops involving teams from small, implementation focused groups all the way to heads of department.\n\nI helped several senior management teams during a company wide innovation project, designing workshops to encourage collaboration, creative thinking, empathy and a 'disagree and commit' attitude.", :id => "marks"

    = render "shared/blog_section", :title => "Circles founding meetings", :content => "I was first involved with Circles in a consultancy role. Having me the main founder, I helped him synthesise his ideas using co-creative workshops with potential service users and experts in their fields.\n\nAs an outcome of these workshops and analysis of previous research, I helped take what was a collection of vague thoughts into a well funded startup with a strong sense of product direction.", :id => "circles"

    = render "shared/gallery", :img => "workshop-3.png", :cap => ""

  .side-content.fixed
    = render "shared/blog_navigation", :anchors => [{title: "Planning", link: "#planning"}, {title: "Analysis", link: "#analysis"}, {title: "Facilitation", link: "#marks"}, {title: "Founding meetings", link: "#circles"}]
    