- @body_id = "secret"
- content_for :title, "Google project 2017"

.row
  .main-content
    %h1 Google project
    %h2 Wait Staff Reviews

    %section.content#approach
      %h3 Approach
      %div
        %p I chose to focus on wait staff reviews over the other projects as I didn't have a clear idea in my head of existing solutions. It also has at least two distinct 'customers' as a product (diners and wait staff). Both of these groups have needs that must be addressed in order to provide a valuable solution.
        %p Due to the short nature of the project, I decided to run it like a one-person design sprint. I wanted to get a better understanding of the problems facing waiting staff with regard to feedback and create something that solves those problems.

    -# %section.content
    -#   %h3 Initial hypotheses
    -#   %div
    -#     = render "shared/ideas_list" 

    -# %section.content#analysis
    -#   %h3 Current product analysis
    -#   %div
    -#     %ul
    -#       %li Uber
    -#       %li Cards in restaurants
    -#       %li Links on receipts
    -#       %li Wahaca payment app
    -#       %li Ikea feedback buttons
    -#       %li Online reviews (Amazon)

    %section.content#research
      %h3 Research findings
      %div
        %p I conducted 4 15-20 minute interviews with friends and peers about their attitudes to giving feedback whilst dining. I also interviewed 4 people who either currently work as waiting staff or have been waiting staff recently. I had a series of questions I wanted to find out more about:
        %ul.box-list
          %li Is feedback fair/useful? What could make it useful?
          %li What’s the motivation of giving feedback for the diner?
          %li What’s the best time to ask for feedback?
          %li What systems are there currently in place for giving feedback?
          %li Do people remember good/bad/mediocre service?
          %li What are the universally good characteristics of service?
          %li Does good service increase loyalty?
          %li What does a waiter do with feedback?

        %h3 Summary
        %h4 Everyones idea of good service is different
        %p Sometimes it means being invisible, sometimes it means being loud. There aren't universally acknowledged defining characteristics of good service, outside of the extremely obvious (eg. don't spill a bottle of wine over me).
        %h4 Feedback performance linked to pay
        %p Often feedback systems that are currently in place are used by managers to judge waiter performance, and in some cases their level of reward.
        %h4 Tips are a form of feedback, but not universal
        %p Waiting staff do see tipping as a sign of a job well done, but acknowledge that not everyone can afford to give tips. Linking feedback to tips feels exclusionary.
        %h4 People forget service soon after the experience
        %p Unless the service was exceptionally good or bad, people in the study didn't have good recall of even recent dining experiences.
        %h4 The dining experience isn't all under the waiting staffs control
        %p Front of house takes the brunt of negative feedback that is out of their control. For instance:
        %ul.list
          %li Lack of waiting staff causing delays
          %li Quality of cooking
          %li Other diners affecting the experience
        %h4 Personal circumstance affects the impression of feedback
        %p Knowing the customers, especially in the case of regulars, affects how the feedback is perceived by the staff.
        %h4 Friction in current feedback systems creates perverse incentives
        %p Waiting staff will only ask for feedback to be filled in by diners they consider likely to give good feedback. This means the feedback received is warped and not truly representative of diners thoughts.
        %h4 Friction in the feedback experience makes giving feedback unlikely
        %p Most feedback mechanisms people have experienced in restaurants are time consuming and difficult.
        %ul.list
          %li Anything filled in after leaving the restaurant relies on memory and goodwill.
          %li Verbal feedback is completely ephemeral and hard to effectively use for staff.
          %li Being distracted for feedback whilst dining is embarrassing and inappropriate. 
        %h4 Verbal Feedback, even well intentioned, can be intimidating
        %p With extremely poor experiences, feedback is very often verbal and distressing - especially the truly negative.

    %section.content#bad
      %h3 What would bad look like?
      %div
        %p I spent some time after the research coming up with lists of bad ideas, to help me produce some positive principles for the product. These are a few of them:
        %ul.box-list
          %li Automatic staff grading, sent to the manager, based entirely on metrics
          %li Feedback requests based on tip amounts
          %li Mandatory feedback before paying bill
          %li Waiting for 3 weeks then sending out a survey asking for feedback.
          %li Staff pay based on feedback filled in

    %section.content#principles
      %h3 Principles and success measures
      %div
        %p In order to judge the quality of the ideas and development, I used the research to come up with some product principles.
        %ul
          %li 
            %h4 Reward friction
            %p incentivize feedback to encourage responses that are not at either extreme of the spectrum. If we are taking people's time, reward them for it - but not necessarily monetarily.
          %li
            %h4 Feedback at the point of service
            %p People forget service soon after the event. Gather feedback while it is fresh in peoples minds to preserve accuracy.
          %li
            %h4 Service is personal
            %p Everyone has different ideas of what makes good service. Universally applied metrics of good/bad won't deliver the best service experience.
          %li
            %h4 Reward the good, improve the bad
            %p Use negative feedback to improve instead of discipline. Notice and reward improvements and good service.
          %li
            %h4 Loyalty begets loyalty - better service = more loyalty
            %p Use improving quality of service to encourage loyalty with diners.

    %section.content#ideas
      %h3 Ideas
      %div
        = render "shared/idea_card", :title => "Physical feedback checklist", :description => "There are lots of points of 'downtime' within any meal. A tactile, physical system where you can express your feedback without it feeling too personal - for instance, a set of marbles you put into marked areas which are later tallied."
        = render "shared/idea_card", :title => "Interruption moments", :description => "When is it best to ask a diner for feedback? There are a few 'obvious' interruption moments; Bathroom, payment, between courses, when leaving, after leaving via a CRM reminder, after leaving by memory."
        = render "shared/idea_card", :title => "Simple questionnaire evaluate service", :description => "Were you happy with long your meal took? Did your waiting staff check in too often or too rarely? How long did you wait for the bill? Using simple responses to these questions, we can build a profile of diner preferences which are exposed to wait staff, so they have the best possibly information on the diners next visit."
        = render "shared/idea_card", :title => "Using dining metrics for context", :description => "By exposing certain data metrics about peoples meals, can we provide greater context and value to the feedback from diners?"

    %section.content#development
      %h3 Idea development
      %div
        %p I decided, after comparing the ideas to my success measures and principles, to focus on combining various dining metrics with simple surveys to passively improve the service experience. Acknowledging that service preferences differ from person to person, I decided to focus on two main applications; a staff app, and a diner loyalty app.
        
        = render "shared/screen", :image => "dineapp.png", :type => '', :title => "The diner loyalty app", :description => "Essentially similar in many ways to existing restaurant loyalty services, which are driven by offers, but with some crucial twists. The app would use understood loyalty mechanisms, like coffee stamp cards, to incentivize the friction required in giving feedback. The feedback gathered would be structured, comparable, and measurable. This feedback would be stored against their own diner profile, and the changes to the feedback over time would be measured to offer better service. By encouraging repeat visits over time, the diner doesn't need to be told their service is improving, it just improves."

        = render "shared/screen", :image => "waitapp.png", :type => '', :title => "The waiting staff app", :description => "The staff app receives data from the customer app about a customers preferences to inform the staff how they should behave with any particular diner. The staff app would be used as a way of managing tables and also recording relevant data points that give context to customer feedback. By knowing the exact time from the point of ordering food to delivering food to a table, this can give context to customer feedback about waiting times. By aggregating this data over time, the member of staff can build up an accurate profile and deliver the best service possible within their constraints."

        %h4 Experience map
        %p To give a better picture of how this would work in practice, I created an experience map of rough wireframes and elements that follows a diner, a waiter, and their manager over one visit. For the purposes of development of my concept into an experience map, I made the following assumptions/choices:
        %ul.list
          %li I would focus on the experience for one diner, in one restaurant, with one member of waiting staff who has 1 manager.
          %li The diner has eaten at this restaurant previously.
          %li The restaurant is mid-price and local to the diner.
          %li The diner has filled in a registration and onboarding experience, and as such the waiting staff have access to certain personal information. In this step, they can self-select certain service preferences.
          %li I would focus on a single dining experience.
          %li Staff all have access to per-user authenticated devices.
          %li Concierge
        = render "shared/screen", :image => "dine-home.png", :type => 'Diner', :title => "App home screen", :description => "The user has entered the restaurant and is invited to 'check-in' to let the staff know they've arrived. The app locates you using GPS and suggests the nearest restaurant as the check-in option. Other options for the diner are to search for other restaurants or edit their profile settings. The app structure is very shallow and task focused, so there is no need for a heavy navigation pattern."
        = render "shared/screen", :image => "dine-welcome.png", :type => 'Diner', :title => "Restaurant welcome", :description => "Once checked in, they are welcomed and reminded what they ate at their last visit. They are shown their loyalty status and any offers they can redeem."
        = render "shared/screen", :image => "wait-new.png", :type => 'Waiter', :title => "New Diner screen", :description => "The waiter is alerted that the diner has arrived and can appropriately greet and seat the diner. The waiter selects the type of group [single, family, couple, mixed-age] from a pre-defined selection."
        = render "shared/screen", :image => "wait-during.png", :type => 'Waiter', :title => "During dining", :description => "During dining, the waiter has access to previous diner preferences in terms of service, as well as typical preferences based on the type of group. The waiter records the time when each course was ordered, brought to the table, and finished. They also record every visit to the table."
        = render "shared/screen", :image => "dine-during.png", :type => 'Diner', :title => "During dining", :description => "The diner can use the app to call for the waiters attention if needed."
        = render "shared/screen", :image => "wait-after.png", :type => 'Waiter', :title => "After dining", :description => "The waiter brings the bill to the diner at an appropriate time based on their previous experience and preferences."
        = render "shared/screen", :image => "dine-after.png", :type => 'Diner', :title => "After dining", :description => "After receiving the bill, the diner is prompted to give some feedback about their experience. In exchange for this, they will receive extra loyalty benefits."
        = render "shared/screen", :image => "dine-rate.png", :type => 'Diner', :title => "Rating the service", :description => "The diner records their opinion on various service metrics, including: Time waiting for food, time between courses, attentiveness of waiter, demeanour of waiter and others. These are mostly not inherently good or bad scores, as the preference will differ from diner to diner. The diner can also add free text comments on any metric."
        = render "shared/screen", :image => "wait-review.png", :type => 'Waiter', :title => "Reviewing feedback", :description => "The waiter can review this feedback against the data recorded earlier about course timing and the type of group, and it is added to the personal dining profile of the diner. Using the data, over time a picture is built up of the diners preferences. At the diners next visit, the waiter can alter their behaviour accordingly."
        = render "shared/screen", :image => "dine-gift.png", :type => 'Diner', :title => "Rewarding the diner", :description => "After leaving the restaurant, The diner receives a notification telling them that due to the feedback, they have been gifted an extra time sensitive reward as a thank-you."
        = render "shared/screen", :image => "blank.png", :type => 'Manager', :title => "After dining", :description => "The manager reviews feedback in aggregate. The can see the various different dining personas built up and see if overall satisfaction is improving. They can use the data collected to better plan staffing patterns."
        = render "shared/screen", :image => "blank.png", :type => 'Waiter', :title => "The future", :description => "The waiter profile is built up over time. As service is shown to be personal, their ability to adapt to the personal needs of diners is measured over time. The waiter can use this information in future career applications."

    %section.content#future
      %h3 Future iterations
      %div
        %p
          There are many directions it would be possible to take the product into. Some that I have considered but thought to be out of scope for this iteration are:
        %ul.box-list
          %li Payment within the customer facing app
          %li Help with choosing a restaurant in the customer facing app
          %li Task management and assignment of tasks within the staff app
          %li Booking tables within the customer facing app
          %li Restaurant reviews within the customer facing app
          %li Recommendation within the customer facing app
          %li Machine learning based assumptions for 'new' diners
          %li Diners can earn loyalty tiers, similar to an airline or Starbucks, where certain benefits are then permanent.
          %li A feedback loop included for the chefs
          %li Closer links between waiting staff and chefs within staff app to keep the diner informed
          %li Customer food preferences/allergies
          %li Other service applications outside of dining

  .side-content.fixed
    = render "shared/blog_navigation", :anchors => [{title: "Approach", link: "#approach"}, {title: "Research", link: "#research"}, {title: "Principles", link: "#principles"}, {title: "Ideas", link: "#ideas"}, {title: "Idea development", link: "#development"}, {title: "Future iterations", link: "#future"}]