!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "F-90 - Peter Wright portfolio site"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, height=device-height,  maximum-scale=1.0, target-densityDpi=device-dpi"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %script(src="https://use.typekit.net/fnk7xnz.js")
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    //= favicon_link_tag 'touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

  %body{:id => (@body_id if @body_id), :class => (@body_class if @body_class)}

    %main{:class => (@inner_class if @inner_class)}
      = yield

    %footer
      %div
        %ul#pages
          %h6 Work
          %li
            = link_to "Find Circles", circles_path
          %li
            = link_to "M&S", marksandspencer_path
          %li
            = link_to "Advertising & Agency", advertising_path
          %li
            = link_to "Playpress", playpress_path
        %ul#pages
          %h6 Process
          %li
            = link_to "Workshops", workshops_path
          %li
            = link_to "Design Sprints", design_sprints_path
        = render "shared/contact_list"

    = javascript_include_tag "application", "data-turbolinks-track" => true
